* {
    margin: 0;
    padding: 0;
}


/*fonte*/
@font-face {
    font-family: 'roboto_thin';
    src: url('Roboto/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'roboto_cond';
    src: url('Roboto/fonts/Roboto-Condensed.ttf');
}

@font-face {
    font-family: 'roboto_light';
    src: url('Roboto/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'roboto_black';
    src: url('Roboto/fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'roboto_bold';
    src: url('Roboto/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'roboto_light_italic';
    src: url('Roboto/fonts/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: 'roboto_regular';
    src: url('Roboto/fonts/Roboto-Regular.ttf');
}


.container {
    display: grid;
    grid-template-rows: 70.2% 40.13% 11.71%;
}

header {
    background-image: url('img/base_Criptografia.png');
    background-size: 100%;
    background-color: #EAEDF8;
    background-repeat: no-repeat;
    max-height: 700fr;
    display: grid;
    grid-template-columns: 57.6% 42.40%;
}

main {
    background-color: #EAEDF8;
    display: grid;
    grid-template-columns: 57.6% 42.40%;
}

/*Div.Text*/
.Text {
    color: white;
    margin-top: 8.644832605531295vh;
}

#text_1 {
    line-height: 5.4vh;
    font-size: 130%;
    margin-top: 3.4vh;
    font-family: 'roboto_regular';
}

#text_1_1 {
    line-height: 4.7vh;
    font-size: 130%;
    margin-top: 2.3vh;
    font-family: 'roboto_regular';
}

#linha {
    width: 21%;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

#text_2 {
    font-family: 'roboto_light';
    font-size: 120%;
    line-height: 3.586800573888092vh;
}

#text_3 {
    font-family: 'roboto_light';
    margin-top: 2.4390243902439024vh;
    font-size: 120%;
    line-height: 2vh;
}

/*Div.Banner*/
.Banner {
    margin-top: 11.644832605531295vh;
    display: grid;
    grid-template-rows: 7.173601147776184vh 55.95408895265423vh 1vh;
    grid-template-areas: "#grupo1"
        "cripto"
        "grupo_mask9"
}

#grupo1 {
    margin-top: 1.43472022955523681vh;
    margin-left: 25.251076040172165vh;
    max-width: 22%;
    padding-bottom: 0vh;
}

#cripto {
    max-width: 100%;
    margin-left: 2.8694404591104736vh;
    margin-top: 0.0897rem;
    margin-bottom: 0;
    padding-top: 0vh;
}

#grupo_mask9 {
    padding: 0vh;
    margin-top: 8.2vh;
    margin-left: 46.4vh;
    width: 23.7%;
}

/*main*/
.anuncio_live {
    margin-left: 10.8694404591104736vh;
    text-align: center;
    margin-top: 9vh;
}

.live_ {
    border: solid 0.1437rem;
    border-radius: 0.875rem;
    border-color: red;
    display: inline;
    padding: 1.25rem 0.625rem 0.625rem 0.625rem;
}

#live_excl {
    color: #313131;
    font-size: 2rem;
    display: inline-flex;
    padding: 0.0187rem 1.6875rem 0.0187rem 1.6875rem;
    font-family: 'roboto';
}


#elipse {
    width: 2%;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0.625rem 0rem;
}

#live_data {
    color: #313131;
    font-family: 'roboto_bold';
    font-size: 1.2rem;
}

#live_hora {
    font-family: 'roboto_light';
    line-height: 1.875rem;
    color: #313131;
}

#grupo_mask8 {
    margin-top: 1.75rem;
    width: 27.7%;
}

.cadastro {}

#text_cadastro {
    font-family: 'roboto_light';
    font-size: 120%;
    color: #313131;
}

.campo_text {
    margin-top: 1.5625rem;
    font-family: 'roboto';
    color: #313131;
}

text {
    font-family: 'roboto';
    color: hotpink;
}

#nome {
    border: solid #707070 0.0625rem;
    background-color: #EAEDF8;
    border-radius: 5rem;
    padding: 0.875rem 8.75rem 0.875rem 0.625rem;
}

#email {
    border: solid #707070 1px;
    background-color: #EAEDF8;
    border-radius: 5rem;
    padding: 0.875rem 8.75rem 0.875rem 0.625rem;
}

#celular {
    border: solid #707070 0.0625rem;
    background-color: #EAEDF8;
    border-radius: 5rem;
    padding: 0.875rem 8.75rem 0.875rem 0.625rem;
}

.botao {
    margin-top: 4.375rem;
}

.botao>button {
    color: white;
    align-content: center;
    padding: 0.875rem 4.625rem 0.875rem 4.625rem;
    background-color: #33CC99;
    border: solid 0.0625rem;
    border-radius: 5rem;
}

#bottao {
    font-size: 130%;
}

/*footer*/
footer {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    background-color: #09081B;
    display: grid;
    grid-template-columns: 1fr 1.7fr 1fr 1fr;
}

.info1 {
    display: inline;
    color: white;
    font-family: 'roboto_light_italic';
    font-size: 55%;
    padding: 0.3125rem 0rem 0rem 0rem;
}

#id_grupo_mask7 {
    max-width: 20%;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 13.5rem;
}

.info2 {
    color: white;
    font-family: 'Roboto-Regular';
    font-size: 55%;
    padding: 0.3125rem 0rem 0rem 0rem;
}

#id_redes {
    max-width: 40%;
    image-resolution: 100%;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
}